@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>STT</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Name</td>
            <td>Discount</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody id="tbodySale">
    </tbody>
</table>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSale" id="addSalesss">
    Add New
</button>

<!-- Modal Add-->
<div class="modal fade" id="addSale" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-group" id="saleFrom">
                    <div class="form-group">
                        <input type="text" placeholder=" Name" name="saleName" id="saleName" />
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="date start" id="dateStart" />
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="date end" id="dateEnd" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="discount" id="discount" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addSale()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit-->
<div class="modal fade" id="editSale" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-group" id="saleFrom">
                    <div class="form-group">
                        <input type="text" placeholder=" Name" name="saleName" id="saleNameNew" />
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="date start" id="dateStartNew" />
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="date end" id="dateEndNew" />
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="discount" id="discountNew" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addSale()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="~/Content/js/sale.js" asp-append-version="true"></script>