
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <div class="box-register">
        <div class="card">
            <h5 class="card-header info-color white-text text-center py-4">
                <strong>Sign in</strong>
            </h5>
            <div class="card-body px-lg-5 pt-0">

                <form class="text-center" style="color: #757575;">

                    <div class="md-form">
               
                        <input type="text" id="txtUser" class="form-control">
                        <label for="txtUser">UserName</label>
                    </div>

                    <div class="md-form">
                        <input type="password" id="txtPassword" class="form-control">
                        <label for="txtPassword">Password</label>
                    </div>

                    <button class="btn btn-primary" type="submit" onclick="login()">Sign Up</button>
                    <p>
                        Not a member?
                        <a href="">Register</a>
                    </p>

                </form>

            </div>

        </div>

    </div>
</div>
